<div class="main ">
  <div class="card text-center  mx-center mx-auto card-new">
    <div class="card-header  ">
      プロフィール
    </div>
    <div class="card-body ">
      <p>ユーザー名:<%= @user.name %></p>
      <p>メールアドレス:<%= @user.email %></p>
    </div>
    <div class="card-footer ">
      <% if @user == current_user %>
        <%= link_to edit_user_registration_path do %>
          <i class="fas fa-user-edit fa-lg"></i>プロフィールを編集する
        <% end %>
      <% end %>
    </div>
  </div>
</div>