.top{
  background-image:url("~top");
  background-size:cover;
  height: 700px;
  width:129.9%;
  margin:0 -165px 0 -165px;
  padding:0 165px 0 165px;
  position: relative;
  

  &:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
  }
  
  .text{
    position:absolute;
    top:40%;
    bottom:60%;
    left: 0;
    right: 0;
    
    margin:auto;

    h1{
      color:white;
      font-family: 'Dancing Script', cursive;
      font-size:50px;
    }
  }
}

