<div class="container text-center my-5">
  <div class="pb-3">
    <h1 class="my-5" >Find Parking for Bicycleとは?</h1>
    <p>初めての土地で自転車置き場がどこにあるのかわからない...</p>
    <p>駐輪場が無料なのかどうか知りたい...</p>
    <p><strong>そんなときに</strong></p>
    <p >自転車置き場を探したり、見つけた自転車置き場を共有できるサービスです。</p>
  </div>
  <hr>
  <div class="mb-3">
    <h2 class="my-5">簡単使い方</h2>
    <div class="my-5">
      <h4>投稿者</h4>
      <p>①自転車置き場を発見！</p>
      <p>②写真を撮る、無料or有料を確認、現在地を確認</p>
      <p>③投稿</p>
    </div>
    <div class="border-bottom">
      <h4>自転車置き場を探している人</h4>
      <p>①住所カテゴリから探す</p>
      <p>②投稿を確認</p>
      <p>③わからないところがあれば、コメントで詳しく聞いてみましょう。</p>
    </div>
  </div>
</div>