<div class="top w-auto ">
  <div class="text text-center mx-auto col-9 ">
    <h1>Find Parking for Bicycle</h1>
    <p><%= link_to 'ゲストログイン', pages_guest_sign_in_path,class:"btn btn-primary", method: :post %></p>
    <p><%= link_to 'ログイン', new_user_session_path,class:"btn btn-primary" %></p>
  </div>
</div>