<% post.comments.each do |comment| %>
  <div class="mb-2">
    <% if comment.user == current_user %>
      <%= link_to  post_comment_path(post.id, comment), method: :delete, remote: true do %>✖︎
      <% end %>
    <% end %>
    <span>
      <strong>
        <%=  comment.user.name %>
      </strong>
    </span>
    <span><%= comment.comment %></span>
  </div>
<% end %>